<!DOCTYPE html>
<html>
    <head>
        <title>INFO2222-Project</title> 
        <script src="/static/js/libs/axios.min.js"></script>
        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/js.cookie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>


    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>